body{
    background-color: rgb(49, 1, 70);
    margin-top:150px;
}

*{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;

}

.wrap{
    width:400px;
    margin:auto;
    height:auto;
    background:black;
    padding:10px;
    border-radius:15px;
}

input[type=text]{
    width: 100%;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    border-radius:5px;
}

input[type=button]{
    width:24%;
    padding:10px;
    font-size:22px;
    font-weight:bold;
    color:rgb(49, 1, 70);
    border-radius:10px; 
    background-color: orange;
}

#del{
    width:24%;
}

#num{
    background-color: grey;
}

#Heading{
    color: grey;
    padding-left: 75px;
}

#bracket{
    width:43px;
}
